name: network-fix
execute: sh /usr/local/bin/tontoo-net-up.sh
type: sys
user: root
depends_on:
  - dbus
restart: false
no_new_privs: true
private_tmp: true
protect_system: full
memory_max: 128M
tasks_max: 256
