name: SettingsDaemon
execute: /usr/local/bin/start-settingsdaemon.sh
type: sys
user: root
depends_on: []
restart: true
no_new_privs: true
private_tmp: true
protect_system: full
read_only_paths:
  - /System
  - /Applications
  - /Library/System
memory_max: 512M
tasks_max: 1024
